:focus {
    outline: 0 !important;
}

body, html {
    font: 1em/1.4 droid sans;
    background:#fff;
    height:100%;
    min-height:100%;
    margin:0;
    padding:0;
}

#score, #level {font-weight: bold; font-size: 12pt;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -350px;
     margin-left: -210px;


}
#score {margin-left: 0px; text-align: right; width: 210px;}

#myCanvas {
     border: black 10px solid !important;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -330px;
     margin-left: -210px;
     box-shadow: 0px 0px 4px rgba(0,0,0,.1);
     border-radius: 0px;
     transition: all 1s ease;
}


input { 
color: white;
font-family: sans;
font-weight: 600;
background: #a1b3ff;
border-radius: 3px;
z-index: 1;
padding: .2em;
text-decoration: none;
border: none;
box-shadow: none;
font-size: 12pt;
width: 100px;
height: 50px;
box-shadow: 0px 0px 4px rgba(0,0,0,.3);
box-shadow: none;
border-radius: none;
transition: all .6s ease;
opacity: 0;
}

#left {opacity: 1;
width: 400px;
height: 640px;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -320px;
     margin-left: -610px;}

#right {opacity: 1;
width: 400px;
height: 640px;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -320px;
     margin-left: 210px;}


#up {opacity: 0;width: 400px; height: 640px;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -320px;
     margin-left: -200px;}
#down {opacity: 1;
width: 1200px;
height: 500px;
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: 330px;
     margin-left: -600px;}

input { opacity: 0 !important; pointer-events: none;}

#replay {height: 100px; width: 200px; 
     position: fixed;
     top: 50%;
     left: 50%;
     margin-top: -50px;
     margin-left: -100px;
     pointer-events: none;}

.gg #replay {opacity: 1 !important; z-index: 9001; pointer-events: auto;
}

@keyframes pulse {
25% {box-shadow: 0px 0px 4px rgba(0,0,0,.1);}
50% {box-shadow: 0px 0px 0px 6px 2px rgba(80,80,80,.26);}
85% {box-shadow: 0px 0px 13px 4px rgba(50,50,50,.22); transform: scale(1.01);}
100% {box-shadow: 0px 0px 24px 8px rgba(90,90,90,.12); transform: scale(1);}}


#replay:hover {background:#1e90ff; animation: .6s pulse .6s linear infinite;}




